.custom-dialog-wrapper {
    position: absolute;
    top: 20%;
    right: 19%;
    width: 230px;
    height: auto;
    padding: 4px;
    margin-top: 10px;
    border-radius: 10px;
    /* Add any other styles as needed */
}

.head-per {
    color: black;
    border-radius: 10px;
    padding: 5px 0px 5px 0px;
    text-align: center;
    background: #535c68;
}
.coloro{
    background: orange;
    padding: 8px;
    border-radius: 10px;
}
.colorp{
    background: pink;
    padding: 8px;
    border-radius: 10px;
}
.colorr{
    background:red;
    padding: 8px;
    border-radius: 10px;
}
.colory{
    background:yellow;
    padding: 8px;
    border-radius: 10px;
}
.btn{
    border-radius: 8px;
    width: auto;
  }