<div class="ml-0"  >
    <!-- <button *ngIf="val=='People Count'" class='btn btn-danger btn-block'><i class="fas fa-camera"></i></button> -->
    <i *ngIf="val=='People Count'" style="font-size: 20px; margin-left: 5px;" (mouseenter)="mouserenterr()" (mouseleave)="mouseleavee()" (click)="openWindowForm()"   class="fas fa-video"  ></i>
  <i *ngIf="val=='img'" style="font-size: 20px; margin-left: 5px;" (click)="openIm()" class="fas fa-camera" (mouseenter)="mouserenterrrr()" (mouseleave)="mouseleaveee()"></i>   
</div>
 