.custom-dialog-wrapper {
    position: absolute;
    top: 20%;
    right: 19%;
    width:   300px;
    height: auto;
    padding: 4px;
    margin-top: 10px;
    border-radius: 10px;
    /* Add any other styles as needed */
  }
  .head-car{
    color: black;
    border-radius: 10px;
    padding: 5px 8px 5px 8px;
    text-align: center;
    background: #9A9DA1;
  }
  .body{
    padding-bottom: 10px;
    //right: 25%;
  }