<!-- <nb-card class="custom-dialog-wrapper">
    <nb-card-header class="head-car">
       Blacklisted Person
    </nb-card-header>
    <nb-card-body class="body">
      <form id="">
        <div class="row">
          <div class="col-12 body">
            <label for="time"><b> Time&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;  &nbsp; : &nbsp;</b> </label> 
                <input nbInput id="time" style="width: 120px;"
                       type="text"
                       [nbTimepicker]="timepicker"/>
                <nb-timepicker style="right: 30%;"
                  #timepicker="nbTimepicker" twelveHoursFormat></nb-timepicker>
                  <br>
                  <br>
                  <label for="day" style="margin-bottom: 10px;"><b> Day&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp; : &nbsp;</b></label>  
                  <nb-select id="day" placeholder="Days">
                    <nb-option selected value="Monday">Monday</nb-option>
                    <nb-option value="Tuesday">Tuesday</nb-option>
                    <nb-option value="Wednesday">Wednesday</nb-option>
                    <nb-option value="Thursday">Thursday</nb-option>
                    <nb-option value="Friday">Friday</nb-option>
                    <nb-option value="Saturday">Saturday</nb-option>
                    <nb-option value="Sunday">Sunday</nb-option>
                </nb-select>
                <div style="margin-top: 18px;"> 
                  <span><b>Gender&nbsp;&nbsp;&nbsp;&nbsp; : &nbsp;</b></span> 
                <input type="radio"  id="Male"  name="gender"
                        value="Male">
                    <label for="Male"><b> Male</b></label> &nbsp; &nbsp;
                    <input type="radio"   id="Female" 
                        name="gender" value="Female">
                    <label for="Female"><b>Female</b></label> &nbsp; &nbsp;
                    <br>
                    <br>
                    <label for="name"><b> Name :</b></label>
                    <input  nbInput style="width: auto;" type="text" name="name" placeholder="person name" id="name">
                    <br>
                    <br>
                    <span><b>Skin&nbsp;&nbsp;&nbsp;&nbsp; : &nbsp;</b></span> 
                <input type="radio"  id="Fair"  name="Skin"
                        value="Male">
                    <label for="Fair"><b>Fair</b></label> &nbsp; &nbsp;
                    <input type="radio"   id="Black" 
                        name="Skin" value="Black">
                    <label for="Black"><b>Black</b></label> &nbsp; &nbsp;
                  </div>
                  
          </div>
          <div class="col-12">
            <button type="submit" class="btn btn-primary">Process</button> &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
            <button type="button" class="btn btn-primary"  >Cancel</button>
          </div>
        </div>
      </form>
    </nb-card-body>
  </nb-card> -->
  <nb-card class="custom-dialog-wrapper">
    <nb-card-header class="head-car">
      Blacklisted Person
    </nb-card-header>
    <nb-card-body class="body">
      <form [formGroup]="processForm" (ngSubmit)="onProcessSubmit()">
        <div class="row">
          <div class="col-12 body">
            <label for="date"><b> Date and Time:</b> &nbsp;&nbsp;</label>
            <input nbInput placeholder="Pick start time" id="startdateandtime" [nbTimepicker]="startdateTimePicker"
              formControlName="startdateTimePicker">
            <nb-timepicker #startdateTimePicker withSeconds></nb-timepicker>            <br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="ml-5">To</span>
            <br>
            <input nbInput placeholder="Pick end time" id="enddateandtime" [nbTimepicker]="enddateTimePicker"
              formControlName="enddateTimePicker">
            <nb-timepicker #enddateTimePicker withSeconds></nb-timepicker>            <!-- <label for="date"><b> Date:</b> &nbsp;&nbsp;</label>
            <input nbInput placeholder="Pick Date" id="date" style="width: 140px;" [nbDatepicker]="dateTimePicker" formControlName="PickDate">
            <nb-datepicker #dateTimePicker></nb-datepicker>
            <br>
            <label class="mt-3"  ><b> Time: &nbsp;</b></label>
            <input nbInput id="StartTime" style="width: 140px;" type="text" placeholder="Start Time" [nbTimepicker]="timepicker"
              formControlName="StartTime" />
            <nb-timepicker style="right: 30%;" #timepicker="nbTimepicker" twelveHoursFormat></nb-timepicker>
            <br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="ml-5">To</span>
            <input class="ml-5" required nbInput id="EndTime " placeholder="End Time " formControlName="EndTime" style="width: 140px;"
              type="text" [nbTimepicker]="timepickerto" />
            <nb-timepicker style="right: 30%;" #timepickerto twelveHoursFormat></nb-timepicker> -->
            <br><br>
            <!-- <label for="day"><b> Day: </b></label>
            <nb-select id="day" formControlName="day" placeholder="Days">
              <nb-option selected value="Monday">Monday</nb-option>
              <nb-option value="Tuesday">Tuesday</nb-option>
              <nb-option value="Wednesday">Wednesday</nb-option>
              <nb-option value="Thursday">Thursday</nb-option>
              <nb-option value="Friday">Friday</nb-option>
              <nb-option value="Saturday">Saturday</nb-option>
              <nb-option value="Sunday">Sunday</nb-option>
            </nb-select> -->
            <div style="margin-top: 18px;">
              <span><b>Gender: </b></span>
              <input type="radio" id="Male" name="gender" value="Male" formControlName="gender">
              <label for="Male"><b> Male</b></label>&nbsp;&nbsp;
              <input type="radio" id="Female" name="gender" value="Female" formControlName="gender">
              <label for="Female"><b> Female</b></label>
              <br><br>
              <label for="name"><b> Name: </b></label>
              <input nbInput style="width: 180px;"   type="text" formControlName="name" placeholder="Person name" id="name">
              <br>
              <br>
              <span><b>Age Group:&nbsp; </b></span>
            <nb-select id="Age" formControlName="Age" style="width: 140px;" placeholder="Ages">
              <nb-option selected value="12-20">12-20</nb-option>
              <nb-option value="21-40">21-40</nb-option>
              <nb-option value="41-60">41-60</nb-option>
              <nb-option value="61-80">61-80</nb-option>
              <nb-option value="80+">80+</nb-option>
             
            </nb-select>
              <!-- <span><b>Skin: </b></span>
              <input type="radio" id="Fair" name="Skin" value="Fair" formControlName="skin">
              <label for="Fair"><b> Fair</b></label>&nbsp;&nbsp;
              <input type="radio" id="Black" name="Skin" value="Black" formControlName="skin">
              <label for="Black"><b> Black</b></label> -->
            </div>
          </div>
          <div class="col-12 mt-4">
            <button type="submit" class="btn btn-primary">Process</button>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
            <button type="button" class="btn btn-primary" (click)="onCancel()">Cancel</button>
          </div>
          <span *ngIf="showMissingInputsMessage" class="text-danger">
            Please fill the missing inputs:
            <span *ngFor="let input of getMissingInputs()">
                {{ input }}{{ $last ? '' : ', ' }}
            </span>
        </span>
        </div>
      </form>
    </nb-card-body>
  </nb-card>