<nb-card class="custom-dialog-wrapper">
    <nb-card-header class="head-car">
        Zigzag
    </nb-card-header>
    <nb-card-body class="body">
        <form [formGroup]="zigzagForm" (ngSubmit)="onProcessSubmit()">
            <div class="row">
                <div class="col-12 body">
                    <label for="date"><b> Date and Time:</b> &nbsp;&nbsp;</label>
                    <input nbInput placeholder="Pick start time" id="startdateandtime" [nbTimepicker]="startdateTimePicker" formControlName="startdateTimePicker">
                    <nb-timepicker #startdateTimePicker withSeconds></nb-timepicker>                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="ml-5">To</span>
                    <br>
                    <input nbInput placeholder="Pick end time" id="enddateandtime"  [nbTimepicker]="enddateTimePicker" formControlName="enddateTimePicker">
                    <nb-timepicker #enddateTimePicker withSeconds></nb-timepicker>                    <!-- <label for="date"><b> Date:</b> &nbsp;&nbsp;</label>
                    <input nbInput placeholder="Pick Date" id="date" style="width: 140px;" [nbDatepicker]="dateTimePicker"
                        formControlName="PickDate">
                    <nb-datepicker #dateTimePicker></nb-datepicker>
                    <br>
                    <label class="mt-3"><b> Time: &nbsp;</b></label>
                    <input nbInput id="StartTime" style="width: 140px;" type="text" placeholder="Start Time" [nbTimepicker]="timepicker"
                        formControlName="StartTime" />
                    <nb-timepicker style="right: 30%;" #timepicker="nbTimepicker" twelveHoursFormat></nb-timepicker>
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="ml-5">To</span>
                    <input class="ml-5" required nbInput id="EndTime " placeholder="End Time " formControlName="EndTime"
                        style="width: 140px;" type="text" [nbTimepicker]="timepickerto" />
                    <nb-timepicker style="right: 30%;" #timepickerto twelveHoursFormat></nb-timepicker> -->
                    <br><br>

                </div>
                <div class="col-12 mt-4">
                    <button type="submit" class="btn btn-primary">Process</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button type="button" class="btn btn-primary" (click)="oncancel()">Cancel</button>
                </div>
                <span *ngIf="showMissingInputsMessage" class="text-danger">
                    Please fill the missing inputs:
                    <span *ngFor="let input of getMissingInputs()">
                        {{ input }}{{ $last ? '' : ', ' }}
                    </span>
                </span>
            </div>
        </form>
    </nb-card-body>
</nb-card>