.custom-dialog-wrapper {
    position: absolute;
    top: 20%;
    right: 19%;
    width:   300px;
    height: auto;
    padding: 4px;
    margin-top: 10px;
    border-radius: 10px;
    /* Add any other styles as needed */
  }
  .head-per{
    color: black;
    border-radius: 10px;
    padding: 5px 0px 5px 0px;
    text-align: center;
    background: #535c68;
  }
  .body-color{
    background: #EDF1F7;
  }
  .p1{
    color: black;
    border-radius: 20px;
    padding: 8px;
    width: auto;
    background: rgb(80, 80, 192);
    margin-right: 10px;

  }
  .skin{
    color: black;
    border-radius: 15px;
    padding: 5px 6px 5px 9px;
    text-align: start;
    background: #9A9DA1;
    margin-top: 20px;
  }
  .iicon{
    color: black;
    text-align: end;
      
  }
  .skin-color{
    background: yellowgreen;
    padding: 12px;
    margin-right: 90px;
    border-radius: 20px;
    min-width: 50%;
    height: 4px;
    
  }
  .fair{
    margin-top: 20px;
    padding-left: 10px;
    margin-bottom: 20px;
  }
  .btn{
    border-radius: 8px;
  }